canvas {
    background-color: lightblue;
}

.hide {
    display: none;
}


.gallery-pics {
    display: flex;
    flex-wrap: wrap;
    gap: 1em 1em;
    align-items: center;
    padding: 5em;


}
img{
    border-radius: 2em;
    width: 20%;

}



/* flex helpers  */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}










