canvas {
    background-color: lightblue;
}

.hide {
    display: none;
}


.gallery-pics {
    display: flex;
    flex-wrap: wrap;
}



/* flex helpers  */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}










