/* button  */

.btn {
  padding: 0.6em 1.5em;
  border: 3px solid var(--primary-2);
  background-color: var(--primary-4);

  font-family: lato-bold, sans-serif;
  font-size: 1em;
  color: var(--primary-2);
  letter-spacing: 0.11em;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3em;



}

.btn:hover {
  color: var(--secondary-base);
  border-color: var(--secondary-base);
}



.btn.arrow {
  position: relative;
  transition: padding 0.4s;
}

.btn.arrow:hover {
  padding-inline-end: 2.6em;
}

.btn.arrow:hover::after {
  content: "→";
  position: absolute;
  right: 0.875em;
}

.color-btn {

  cursor: pointer;
}
