.meme-controls {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 3em;
    padding: 3em 3em;
    margin-top: 1em;
    background-color: var(--primary-1);
    height: 36em;
    border-radius: 2.5em;
}

.meme-editor-containter {
    padding: 2em;
}




.gallery-pics {
    display: flex;
    flex-wrap: wrap;
    gap: 1em 1em;
    align-items: center;
    padding: 2em;

}

img {
    border-radius: 2em;
    width: 30%;

}

.user-text-input {
    grid-area: 1/1/2/4
}

canvas {
    border-radius: 7em;
    margin-inline: 5em;
}